@import './scss/_reset';
@import './scss/_mixins';
@import './scss/_grid';
@import './scss/_type';

body{
  background-color: #cccccc;
}
.wrapper{
  max-width: $wrapperMaxWidth;
  background: $themeBgColor;
  margin: 0 auto;
}
header{
  background-color: $themeColor;
  color: #fff;
}
.pre-header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem 0;
}
.profile-navigation{
  ul{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    li{
      list-style-type: none;
      width: rem(40px);
      svg{
        display: block;
        height: 1.5rem;
        width: 1.5rem;
      }
    }
  }
}
.profile-img{
  height: rem(40px);
  width: rem(40px);
  line-height: rem(40px);
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.25);
  display: inline-block;
}
img{
  max-width: 100%;
  display: block;
}
ol.breadcrumbs{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  padding: 1rem 0 1.75rem;
  li{
    list-style: decimal inside;
    font-weight: 500;
    white-space: nowrap;
    font-size: rem(20px);
    color: currentColor;
    &:not(:last-child){
      margin-right: 2em;
      &::after{
        content: '';
        border-right: 2px solid currentColor;
        border-bottom: 2px solid currentColor;
        display: block;
        vertical-align: middle;
        height: 0.35em;
        width: 0.35em;
        margin-left: 1.5em;
        transform: rotate(-45deg);
        display: inline-block;
      }
    }
    &:not(.is-active){
      opacity: 0.75;
    }
    @include xs-only{
      visibility: hidden;
      position: absolute;
      font-size: rem(16px);
      &.is-active, &.is-active ~ li {
        position: static;
        visibility: visible;
      }
    }
  }
}

.header-actions{
  padding: 1rem 0 1.75rem;
  text-align: right;
  svg{
    height: 1.25em;
    width: 1.25em;
    vertical-align: middle;
    margin-top: -.125em;
  }
  button{
    display: inline-block;
    font-family: inherit;
    text-transform: uppercase;
    color: currentColor;
    font-size: 1em;
    font-weight: bold;
    background-color: transparent;
    border: 0;
  }
}
.ui.accordion{
  border: 1px solid #e4e4e4;
  .title{
    font-size: rem(16px);
    line-height: 1.35;
    @include min-sm{
      font-size: rem(20px);
    }
    padding: 1rem 1.25rem;
    border-left: 3px solid #FA9507;
    padding-right: 4em;
    position: relative;
    cursor: pointer;
    &:not(:first-child){
      border-top: 1px solid #e4e4e4;
    }
    &::after{
      content: '';
      height: 0.5rem;
      width: 0.5rem;
      border-right: 2px solid #bbb;
      border-bottom: 2px solid #bbb;
      transform: rotate(45deg);
      display: block;
      position: absolute;
      right: 1.55rem;
      top: 1.5rem;
    }
  }
  .content{
    border-left: 3px solid #FA9507;
    max-height: 0;
    box-sizing: content-box;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    &.active{
      max-height: 20em;
    }
    p{
      max-width: 42rem;
      padding: 0 1.25rem 1.25rem;
      font-size: rem(14px);
      @include min-sm{
        font-size: 1rem;
      }
    }
    *:last-child{
      margin-bottom: 0;
    }
  }
}

footer{
  padding: 4rem;
  text-align: center;
}
