@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 400;
  src: url("./assets/fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 400;
  src: url("./assets/fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 500;
  src: url("./assets/fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 500;
  src: url("./assets/fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 700;
  src: url("./assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 700;
  src: url("./assets/fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-weight: 900;
  src: url("./assets/fonts/Inter-UI-Black.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-Black.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-weight: 900;
  src: url("./assets/fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
       url("./assets/fonts/Inter-UI-BlackItalic.woff") format("woff");
}


$font_heading: 'Inter UI', sans-serif;
$font_body: "Inter UI", sans-serif;

body{
  font-family: $font_body;
}
.page-title{
  font-size: rem(28px);
  line-height: 1.3;
  font-weight: 400;
  margin: 1em 0;
  @include min-sm{
    font-size: rem(36px);
  }
}
.section-title{
  font-size: rem(24px);
  @include min-sm{
    font-size: rem(36px);
  }
  font-weight: 700;
  margin-bottom: 0.5em;
  &:not(:first-child){
    padding-top: 1em;
  }
}
.section-subtitle{
  font-size: rem(20px);
  @include min-sm{
    font-size: rem(24px);
  }
  font-weight: bold;
  padding: 0.75em 0 1em;
}
.subheader{
  font-size: rem(16px);
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
}
p{
  font-size: rem(18px);
  line-height: 1.4;
  margin-bottom: 1.15em;
  &.lead{
    font-size: rem(18px);
    @include min-sm{
      font-size: rem(22px);
    }
    line-height: 1.5;
  }
  a{
    color: $linkColor;
  }
}
a{
  color: currentColor;
  text-decoration: none;
}
strong{
  font-weight: 700;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #C8C8C8;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #C8C8C8;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #C8C8C8;
}
:-moz-placeholder { /* Firefox 18- */
  color: #C8C8C8;
}
